@model IEnumerable<RestaurantDomain.Models.Category>

@{
    ViewData["Title"] = "Категорії";
}

<h1>Категорії</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Додати нову категорію</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <span>|</span> <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>