@model RestaurantDomain.Models.Restaurant

@{
    ViewData["Title"] = "Видалити ресторан";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити цей ресторан?</h3>
<div>
    <h4>Ресторан</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reviews)
        </dd>
        <dt class="col-sm-2">
            Кухарі
        </dt>
        <dd class="col-sm-10">
            @if (Model.Cooks.Any())
            {
                <ul>
                    @foreach (var cook in Model.Cooks)
                    {
                        <li>@cook.Surname</li>
                    }
                </ul>
                <p class="text-warning">Ці кухарі будуть відв’язані від ресторану.</p>
            }
            else
            {
                <span>Немає пов’язаних кухарів.</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися до списку</a>
    </form>
</div>