@model IEnumerable<RestaurantDomain.Models.Restaurant>

@{
    ViewData["Title"] = "Ресторани";
}

<h1>Ресторани</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-primary">Додати новий ресторан</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacts)
                </td>
                <td>
                    @if (string.IsNullOrEmpty(item.Reviews))
                    {
                        <span>Немає відгуків.</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Reviews)
                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> <span>|</span>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> <span>|</span>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <a asp-action="AddReview" asp-route-id="@item.Id">Додати відгук</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>