@model IEnumerable<RestaurantDomain.Models.Ingredient>

@{
    ViewData["Title"] = "Інгредієнти";
}

<h1>Інгредієнти</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Додати новий інгредієнт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightMeasure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                Страви
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    @if (item.Dishes.Any())
                    {
                        <ul>
                            @foreach (var dish in item.Dishes.OrderBy(d => d.Name))
                            {
                                <li><a asp-controller="Dishes" asp-action="Details" asp-route-id="@dish.Id">@dish.Name</a></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Немає призначених страв</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>